/attn_results
/BERT_files
/checkpoints
/cluster_visualizations
/paper
/results
/savings
/scripts
/test_results
/tsne_results
/convergence
*.tar.gz
*.tar
*.npy
*.png
*.pdf
result*
MoE_coeff
*.pyc
*.sqlite
uniform_init_router*
Cross_MoE_script.py
calculate_overhead.py
data_pack.sh
pack*
test*
top_words.py